<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Caleb Nance">
      <title>Infinite Web Applications</title>
      <link href="styles/app.css" rel="stylesheet">
    </head>
    <body ng-app="iwa">

      <h1>INFINITE<br><small>Web Applications</small></h1>

      <br>

      <div ng-controller="mainCtrl">
        <div ng-click="helloworld()">
          Hello World!
        </div>
        <div ng-click="helloConsole()">
          Hello Console!
        </div>
      </div>

      <br>

      <list></list>

      <br>
      <br>
      <br>

      Contact CTRL
      <div class="form-contact" ng-controller="contactCtrl">
        <input ng-model="contact.name" ng-change="ngChanged()" />
        <input ng-model="contact.mail" />
        <input ng-model="contact.type" />
        <input ng-model="contact.desc" />
      </div><!-- /.form-contact -->

      <script src="scripts/angular.min.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/contact.js"></script>
      <script src="scripts/services/data.js"></script>
      <script src="scripts/directives/list.js"></script>
      <script src="scripts/infinite.js"></script>
    </body>
</html>
